# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Flutter 各平台自动生成的Flutter依赖目录
/macos/Flutter/
/linux/flutter/
# 建议同时忽略其他平台的对应目录（完整配置）
/ios/Flutter/
/windows/flutter/
# 额外建议忽略的自动生成文件
/macos/Podfile.lock
/linux/flutter_export_environment.sh
/ios/Podfile.lock
/windows/flutter_export_environment.sh
